
/* Fallback for IE versions without HTML5 tag support */
main, article, section, header, footer {
  display: block;
}

body {
  background-color: #FFFFFF;
  color: #333333;
  text-align: center;
  font-family: 'Avenir Next', Helvetica, sans-serif;
  font-size: 20px;
}

h1, h2, h3, h4 {
  font-weight: bolder;
}

h1 {
  font-size: 200%;
}

.block-container {
  min-width: 30em;
  text-align: center;
  margin: 0 auto;
  background-color: #0099FF;
  color: #fff;
  border-radius: 1em;
}

form fieldset {
  border: none;
}

form fieldset legend {
  color: inherit;
  font-weight: bold;
  font-size: 150%;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

form fieldset label span {
  display: block;
  margin: 1em 0 0;
}

form fieldset label input {
  width: 20em;
  padding: 1em 2em;
  border: 2px solid #0099FF;
  border-radius: 1em;
  cursor: text;
  font-size: large;
}
form fieldset label input:hover,
form fieldset label input:active,
form fieldset label input:focus {
  border: 2px solid #F0AD4E;
  outline: none;
}


form input[type="submit"],
form input[type="button"] {
  display: inline-block;
  margin: 1em auto;
  padding: 0.5em 1em;
  background-color: #7ED321;
  border: none;
  border-radius: 0.5em;
  color: white;
  font-size: 120%;
  cursor: pointer;
}

form input[type="submit"]:hover,
form input[type="submit"]:active,
form input[type="submit"]:focus,
form input[type="button"]:hover,
form input[type="button"]:active,
form input[type="button"]:focus {
  background-color: #0583A6;
}

.pollURL {
  color: #F0AD4E;
  font-weight: bold;
}


.answer1, .answer2 {
  display: inline-block;
  margin: 0 2em;;
}

#results1, #results2 {
  font-size: 600%;
  font-weight: bold;
}

.copyright {
  text-align: center;
  color: #333;
  bottom: 0;
  left: 0;
  right: 0;
}

@supports (display:flex) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  form {
    margin: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .field-container label {
    display: flex;
    flex-direction: column;
  }
  .field-container label input {
    margin: 1em 0 0 0;
  }
}
