@import                 url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700');

body {
    padding:            0;
    margin:             0;
    font-family:        'Raleway', sans-serif;
    color:              #333;
}

header {
    background:         crimson;
    color:              white;
    margin:             0;
    padding:            0 2em;
}

nav ul li {
    padding:            1em;
}

nav ul li a {
    transition:         0.2s;
    color:              white;
    margin-left:        -2em;
    padding:            1em;
    text-decoration:    none;
}

nav ul li a:hover {
    transition:         0.2s;
    background:         white;
    color:              crimson;
}

#result-bar {
    display:            flex;
    justify-content:    space-between;
}


/* Form */
form {
    display:            flex;
}

input:focus {
    outline:            2px
                        solid
                        crimson
}

#input {
    padding:            1em;
    color:              #333;
    font-size:          medium;
}

#search {
    transition:         0.2s;
    -webkit-appearance: none;
    padding:            0 2em;
    background:         none;
    border:             1px solid
                        lightgrey;

    text-transform:     uppercase;
}

#search:hover,
#search:focus,
details:focus {
    cursor:             pointer;
    transition:         0.2s;
    background-color:   crimson;
    color:              white;
}

/* Sections */

section {
    padding:            2em;
}

#searchresults ul {
  list-style:           none;
}
#searchresults ul li {
  margin-left:         -2.4em;
}

.person-info {
  display:             flex;
  align-items:         center;
  width:               100%;
  transition:          0.3s;
  border:              1px solid
                       lightgrey;
  padding:             1em;
  margin-bottom:       1em;
}
.person-info:hover {
  transition:          0.3s;
  border:              0.1em solid
                       crimson;
}

details:hover {
  cursor: pointer;
}

.link-to-detail {
  position:            relative;
  transition:          0.3s;
  text-decoration:     none;
  color:               crimson;
}
.link-to-detail:hover {
  cursor:              pointer;
}

.avatar {
  height:              5em;
}

#detailpage .back-btn {
    display:           inline-block;
    flex-basis:        100%;
    padding:           1em;
    background-color:  crimson;
    color:             white;
    text-decoration:   none;
    border-radius:     0.2em;
    margin:            0 2em 0 0;
}
#detailpage .back-btn:focus,
#detailpage .back-btn:hover {
    background-color: red;
}
