
/* Fallback for IE versions without HTML5 tag support */
main, article, section, header, footer {
  display: block;
}

body {
  background-color: deepskyblue;
  color: white;
}

form {
  width: 40em;
  margin: 10em auto;
}

form fieldset {
  padding: 2em;
}

form fieldset legend {
  color: inherit;
  font-weight: bold;
}

form fieldset label {
  display: block;
  margin: 1em 0;
}

form fieldset label input {
  float: right;
  width: 20em;
}

form input[type="submit"] {
  display: block;
  margin: 2em auto;
}

footer {
  text-align: center;
}
