<% include partials/head.ejs %>

<main>
  <section>
    <form id="submit-answer-form">
      <fieldset>
        <legend>Geef jouw antwoord op</legend>
        <input type="button" name="answer-1" value="answer-1">
        <input type="button" name="answer-2" value="answer-2">
      </fieldset>
    </form>
  </section>
</main>

<% include partials/footer.ejs %>
