<% include partials/head %>
<% include partials/header %>


<body>

<section id="detailpage">
    <div>
        <a href="/search">< Terug</a>
    </div>
    <div>
        <img src="">
    </div>
</section>

</body>
