<% include partials/head.ejs %>

<main>
  <section>
    <form id="submit-poll-form" method="post" action="/">
      <fieldset>
        <legend>Nieuwe Poll Aanmaken</legend>
        <label>
          <span>Poll naam</span>
          <input type="text" name="poll-name" required placeholder="Geef de poll een naam">
        </label>
        <hr>
        <label>
          <span>Welke vraag wil je stellen?</span>
          <input type="text" name="poll-question" required placeholder="Typ je vraag">
        </label>
        <label>
          <span>Antwoord 1</span>
          <input type="text" name="poll-answer-1" required placeholder="Typ het eerste antwoord">
        </label>
        <label>
          <span>Antwoord 2</span>
          <input type="text" name="poll-answer-2" required placeholder="Typ het tweede antwoord">
        </label>
      </fieldset>
      <input type="submit" value="Aanmaken">
    </form>
  </section>
</main>

<% include partials/footer.ejs %>
