<% include partials/head %>
<h1>Poll Resultaten</h1>
<% if (pollData) { %>
  <section>
    <h2><%= pollData.pollName %></h2>
    <h3>Vraag: <%= pollData.pollQuestion %></h3>
  </section>

  <section class="results">
    <section class="answer1">
      <h3><%= pollData.pollAnswer1 %></h3>
      <span id="results1">0</span>
    </section>

    <section class="answer1">
      <h3><%= pollData.pollAnswer2 %></h3>
      <span id="results2">0</span>
    </section>
  </section>
<% } else { %>
  <p>Oops, no data :(</p>
<% } %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script type="text/javascript" src="/js/results.js"></script>
<% include partials/footer %>
