<% include partials/head.ejs %>

<main>
  <h1>Poll Buddy</h1>
  <section class="block-container">
    <h1>Bedankt voor je deelname!</h1>
    <p>Even geduldig afwachten op de resultaten.</p>
  </section>
</main>

<% include partials/footer.ejs %>
