<% include partials/head.ejs %>

<main>
  <section>
    <h1>Bedankt voor je deelname!</h1>
    <p>Even geduldig afwachten op de resultaten.</p>
  </section>
</main>

<% include partials/footer.ejs %>
